Bartballon
bartballon
Online

Samveedeevee — 21/11/2024 19:00
lol
bQrTBqLLONeN — 21/11/2024 19:00
En we hebbe da aangezet haha
Bcs we vonden da leuk
Beetje afwisseling
TheDucksheep — 21/11/2024 22:22
Goed nieuws
Satisfactory is uitgespeeld
Samveedeevee — 21/11/2024 22:22
99% toch ahhaa
bQrTBqLLONeN — 21/11/2024 22:22
Hahaha
Ideaal
Samveedeevee — 21/11/2024 22:22
maar true, andere games kunnen aangemeld worden via de google form
Wij wachten vol verwachting naar wat jullie in petto hebben 😉
Samveedeevee — 21/11/2024 22:23
I shall repost this so we don't forget 🙂
TheDucksheep — 22/11/2024 9:13
https://www.youtube.com/watch?v=ng5eHipuY2k
YouTube
Warner Bros. Pictures
A Minecraft Movie | Behind the Scenes
Image
Jeb is zelfs involved
bQrTBqLLONeN — 22/11/2024 21:51
@Tyreg
Nieuwe ytr
https://youtu.be/qTqamNo1QeM?si=OxPPeJq4uqUhxTIY
YouTube
D.V.M.Studios
DVMStudios_#1-PROLOGUE_(Phase-0)
Image
Das denk hahahaha
We hebbe net ontdekt da hij yt heeft
Tyreg — 23/11/2024 11:21
Aaah jullie dennis, ik was ff niet mee
TheDucksheep — Yesterday at 10:45
@Tyreg jij had nog nooit een halve cpu gezien he? I present you, 0.1 cpu
Image
Tyreg — Yesterday at 11:10
Ik niet begrijp hoe dat kan
Samveedeevee — Yesterday at 11:11
Whut
Tyreg — Yesterday at 16:09
Iemand kanavond?
TheDucksheep — Yesterday at 16:12
Ka
bQrTBqLLONeN — Yesterday at 16:28
Neen
Morgen ook niet
Kan der iemand woensdag?
TheDucksheep — Yesterday at 16:37
Ik
Tyreg — Yesterday at 17:44
Woensdag is ook ok
Samveedeevee — Yesterday at 17:44
Probs ik
Ma vndg? 8?
Tyreg — Yesterday at 17:45
Voor mij goed, maar geen idee wat "Ka" wilt zeggen
TheDucksheep — Yesterday at 18:35
Je suis la
TheDucksheep — Yesterday at 21:42
Image
bQrTBqLLONeN — Yesterday at 21:42
Cute
Hahaha
bQrTBqLLONeN — Today at 13:22
Kan vanavond wel
TheDucksheep — Today at 13:23
Oké
Ik ook
bQrTBqLLONeN — Today at 13:24
Ideaal
Tyreg — Today at 13:24
Ik kook
bQrTBqLLONeN — Today at 13:24
Mmm lekker
Wat? 
Tyreg — Today at 13:25
Erwtjes met wortelkes
Met Congosaus
bQrTBqLLONeN — Today at 13:25
Mmmm
TheDucksheep — Today at 17:55
Ik ben reeds aanwezig rond de klok van 7 om aanwezigheden op te nemen
bQrTBqLLONeN — Today at 17:59
Cv
Tyreg — Today at 19:02
Paige braid
bQrTBqLLONeN — Today at 19:22
https://gun.eco/
GUN — the database for freedom fighters - Docs v2.0
Decentralized Database
Image
Image
bQrTBqLLONeN — Today at 20:02
https://www.toptal.com/developers/gitignore
gitignore.io
Create useful .gitignore files for your project
gitignore.io
# Created by https://www.toptal.com/developers/gitignore/api/node,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=node,visualstudiocode

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
... (63 lines left)
Collapse
gitignore.txt
3 KB
bQrTBqLLONeN — Today at 20:09
https://bun.sh/
Bun
Bun — A fast all-in-one JavaScript runtime
Bundle, install, and run JavaScript & TypeScript — all in Bun. Bun is a new JavaScript runtime with a native bundler, transpiler, task runner, and npm client built-in.
Bun — A fast all-in-one JavaScript runtime
bQrTBqLLONeN — Today at 20:32
Image
bQrTBqLLONeN — Today at 21:15
https://www.youtube.com/watch?v=2eUcYuu9O9M
YouTube
Bart Roels
Research Demo
Image
Image
bQrTBqLLONeN — Today at 21:29
Image
﻿
# Created by https://www.toptal.com/developers/gitignore/api/node,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=node,visualstudiocode

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Node Patch ###
# Serverless Webpack directories
.webpack/

# Optional stylelint cache

# SvelteKit build / generate output
.svelte-kit

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/node,visualstudiocode
gitignore.txt
3 KB